html {
    box-sizing: boarder-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #131111;
    line-height: 1.5;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
    background-color: #7251B5;
    align-content: center;
}

header {
    background-color: #000;
    color:#DEC9E9;
}

font-family: 'Wix Madefor Display', sans-serif;